
 * {
    padding: 0;
    margin: 0;
    font-family: sans-serif system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music-player {
    background: #ffe0e5;
    width: 100%; 
    max-width: 400px;
    padding: 25px 35px;
    text-align: center;
    border-radius: 10px;
    border: 4px solid #f53192;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #f53192;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}

.song-img {
    width: 100%; 
    max-width: 220px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

.music-player h1 {
    font-size: 35px;
    font-weight: 400;
    color: #333;
    margin-top: 20px;
    margin-bottom: 5px;
}

.music-player p {
    font-size: 18px;
    color: #333;
}

#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #f53192;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #f53192;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div {
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f53192;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}

.controls div:nth-child(2) {
    transform: scale(1.5);
    background: #f53192;
    color: #fff;
}

.controls .fa-play {
    margin-left: 4px;
}

@media only screen and (max-width: 600px) {
    .music-player {
        padding: 15px;
    }

    .controls div {
        width: 40px;
        height: 40px;
        margin: 10px;
    }
}
